/* Empty. Add your own CSS if you like */


#container{
	height: 60em;
	border: 1px solid #DDD;
}

.Gmap{
	height: 100%;
	border: 1px solid #DDD;
	margin: 4px;
}

.btnLimpiar{
	float: left;
	line-height: 2.2;
	margin-right: 19px;
	margin-left: 1.5em;
}

.list{
	margin-top: 2px;
}

.panel{
	margin-top: 10px;
}

.label_position{
	width: 40%;
}

.selec_position{
	float: left;
}

h6{
	color: #E42012;
}

.items_menu{
	color: #EB9E02;	
}

h3{
	color: #EB9E02;
}

h4{
	color: #EB9E02;
}

h5{
	color: #EB9E02;
	margin: auto;
}

h6{
	color: #EB9E02;
}

.validacion{
	color: #FF0000;
	margin-left: 15px;
}

.content{
	margin: auto;
}

.newColor{
	background: #FFE603;
	background: -webkit-gradient(center top , #FFE603, #FFBD04);
	background-image: -webkit-gradient(center top , #FFE603, #FFBD04);
	background: -moz-linear-gradient(center top , #FFE603, #FFBD04);
	background: -ms-linear-gradient(center top , #FFE603, #FFBD04);
	background: -o-linear-gradient(center top , #FFE603, #FFBD04);
}


/*====== MEDIAS QUERY PARA DISTINTAS RESOLUCIONES DE PANTALLAS =====*/


	
@media screen and (min-device-width: 600px) and (max-device-height : 1024px) {
	#container{
		height: 80em;
		border: 1px solid #DDD;
	}
}


@media screen and (min-device-height: 200px) and (max-device-height : 600px){
	#container{
		height: 29em;
		border: 1px solid #DDD;
	}
}